:root{
    --app-bg-color : linear-gradient(rgb(35, 44, 78), rgb(38, 54, 96));
    --glassmorph-color: rgba(89, 101, 159, 0.139);
    --border-color-blue: #234060;
    --border-color-white: rgba(255, 255, 255, 0.118);
    --highlight-color-1: #107ade;
    --highlight-color-2: #e05ba0;
    --faded-text-color: #afafaf;
    --main-text-color: rgb(248, 248, 248);
    --correct-color: #7bcf9b;
    --wrong-color: #f19999;
}

/* === Firefox only === */
@supports not selector(::-webkit-scrollbar) {
  :root {
    scrollbar-color: var(--highlight-color-1) transparent;
    scrollbar-width: thin;
  }
}

/* === WebKit only === */
@supports selector(::-webkit-scrollbar) {
  *::-webkit-scrollbar {
    width: 1px;
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background: var(--highlight-color-1);
    border-radius: 20px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
}

*{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: var(--main-text-color);
    font-family: "Inter";
}

html, body{
    height: 100dvh;
    overflow: hidden;
    background: var(--app-bg-color);
}

:global(.home-page){
    display: flex;
    flex-direction: column;
    height: 100%;
}

:global(.home-page h1){
    text-align: center;
    margin: 10px 0;
    margin-top: 15px;
}

:global(.home-page p){
    text-align: center;
    margin: 10px 0;
    font-size: 1rem;
    margin-bottom: 15px;
}