.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
  animation: fadeIn .3s forwards;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 600px;
  background: rgb(48, 54, 83);
  border-radius: 16px;
  padding: 20px 0;
  animation: fadeScaleIn .3s forwards;
  max-height: 100vw;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 1.3rem;
}

.title.correct{
  color: var(--correct-color);
}

.title.wrong{
  color: var(--wrong-color);
}

.fact {
  white-space: pre-wrap;
  overflow-y: scroll;
  margin: 20px 10px;
  margin-right: 1px;
  padding: 0 5px;
  padding-right: 12px;
}

.next-question-btn {
  padding: .6rem 1rem;
  border-radius: 12px;
  border: none;
  outline: none;
  background: var(--highlight-color-1);
  cursor: pointer;
  display: block;
  margin: auto;
}

@keyframes fadeScaleIn {
  0%{
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(0.95);
  }
  100%{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}