.quiz-runner{
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.return-btn i{
  margin-bottom: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.title {
  margin: 10px 0;
  opacity: 0.95;
  font-size: 1.7rem;
}

.progress{
  font-size: .8rem;
  color: var(--faded-text-color);
  margin-bottom: 7px;
}

.progress span{
  font-size: 1rem;
  color: inherit;
}

/* === Progress-Bar === */
.progressbar {
  position: relative;
  height: 5px;
  background: var(--highlight-color-1);
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progressbar-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, var(--highlight-color-4), #e05b5b);
  transition: width 260ms ease;
  border-radius: 50px;
}

/* Main Wrapper */
.main-wrapper{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Center Wrapper */
.center-wrapper{
  margin-top: -5vh; /* pull it a little to the top */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* == Frage == */
.question {
  font-size: 1.6rem;
  text-align: center;
  max-width: 1200px;
  margin-bottom: 50px;
}

/* === Antworten === */
.answers {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90vw;
  max-width: 800px;
}

.answer {
  width: 100%;
  background: transparent;
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid var(--highlight-color-3);
  font-size: 1.2rem;
  padding: 15px;
  transition: border .1s;
}

.answer[aria-disabled="true"] {
  pointer-events: none;
}

/* Feedback-Zustände */
.is-correct {
  border-color: var(--correct-color);
}

.is-wrong {
  border-color: var(--wrong-color);
}