<div local-class="themes-wrapper">
    <ThemeCard @theme="Allgemeinwissen" @slug="allgemeinwissen"/>
    <ThemeCard @theme="Informatik" @slug="informatik"/>
    <ThemeCard @theme="Tech" @slug="tech"/>
    <ThemeCard @theme="Kultur" @slug="kultur"/>
    <ThemeCard @theme="Chemie" @slug="chemie"/>
    <ThemeCard @theme="Physik" @slug="physik"/>
    <ThemeCard @theme="Biologie" @slug="biologie"/>
    <ThemeCard @theme="Geschichte" @slug="geschichte"/>
    <ThemeCard @theme="Astronomie" @slug="astronomie"/>
    <ThemeCard @theme="Politik" @slug="politik"/>
    <ThemeCard @theme="Essen & Trinken" @slug="essen-trinken"/>
    <ThemeCard @theme="Tierwelt" @slug="tierwelt"/>
    <ThemeCard @theme="Geographie" @slug="geographie"/>
</div>