<LinkTo @route="quiz" @model={{@slug}} local-class="theme-card">
    <div local-class="details">
        <span>{{@theme}}</span>
    </div>
    <div local-class="image">
        <img src={{@icon}} alt="icon">
    </div>
</LinkTo>