<div local-class="themes-wrapper">
    <ThemeCard @theme="Allgemeinwissen" @slug="allgemeinwissen" @icon="icons/allgemeinwissen.png"/>
    <ThemeCard @theme="Informatik" @slug="informatik" @icon="icons/informatik.png"/>
    <ThemeCard @theme="Tech" @slug="tech" @icon="icons/tech.png"/>
    <ThemeCard @theme="Kultur" @slug="kultur" @icon="icons/kultur.png"/>
    <ThemeCard @theme="Chemie" @slug="chemie" @icon="icons/chemie.png"/>
    <ThemeCard @theme="Physik" @slug="physik" @icon="icons/physik.png"/>
    <ThemeCard @theme="Biologie" @slug="biologie" @icon="icons/biologie.png"/>
    <ThemeCard @theme="Geschichte" @slug="geschichte" @icon="icons/geschichte.png"/>
    <ThemeCard @theme="Astronomie" @slug="astronomie" @icon="icons/astronomie.png"/>
    <ThemeCard @theme="Politik" @slug="politik" @icon="icons/politik.png"/>
    <ThemeCard @theme="Gastronomie" @slug="gastronomie" @icon="icons/gastronomie.png"/>
    <ThemeCard @theme="Tierwelt" @slug="tierwelt" @icon="icons/tierwelt.png"/>
    <ThemeCard @theme="Geographie" @slug="geographie" @icon="icons/geographie.png"/>
</div>